@page
@model Sem.Pages.constructor

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Конструктор дебатов</title>
	
	<!-- CSS only -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

	<!-- JS, Popper.js, and jQuery -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script type="text/javascript" src="js/script.js"></script>
</head>
<body>
	<div class="header">
		<div class="header-left">
			<a class="aNotChanged" href="@Url.Page("./index")">
				<h1>Политика <span style="color: #E85A4F">News</span></h1>
			</a>
		</div>

		<div class="header-center">
			<div class="header-menu">
				<a class="header-menu-box" href="@Url.Page("./index")">Новости</a>
				<a class="header-menu-box" href="#">Форум</a>
				<a class="header-menu-box" href="@Url.Page("./debates")">Дебаты</a>
			</div>
			<div class="header-menu-hiden">
				<div class="dropdown">
					<button class="dropdown-toggle search-filter" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span class="fontColor">Меню</span>
				  	</button>
				  	<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					    <a class="dropdown-item" href="@Url.Page("./index")">Новости</a>
					    <a class="dropdown-item" href="#">Форум</a>
					    <a class="dropdown-item" href="@Url.Page("./debates")">Дебаты</a>
				  	</div>
				</div>
			</div>

			<form class="search-box" action="">
				<img class="svg" src="icons/magnifying-glass.svg">
				<input type="search" name="" placeholder="Поиск">
				<div class="dropdown">
					<button class="dropdown-toggle search-filter fontColor" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    	Фильтры
				  	</button>
				  	<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				  		<h6 class="dropdown-header">Популярные</h6>
					    <a class="dropdown-item" href="#">США</a>
					    <a class="dropdown-item" href="#">Путин</a>
					    <a class="dropdown-item" href="#">Армения</a>
				  	</div>
				</div>
			</form>
		</div>

		<div class="header-right">
			<!-- <div class="reg-online">Личный кабинет</div> -->
			<div class="reg-offline"><a href="@Url.Page("./login")">Вход</a> | <a href="@Url.Page("./register")">Регистрация</a></div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row">
			
			<div class="col-md-8 offset-md-2 con-box">
				<h2 class="const-title">Конструктор дебатов</h2>
				<div class="outstanding"></div>

				<form class="form-horizontal" method="GET" action="#" name="Construntor" onsubmit="return false;">
					<div class="form-group">
						<label for="con_title" class="col-md-4 control-label">Заголовок</label>
						<div class="col-md-6">						
							<input id="con_title" type="text" class="form-control" name="con_title" value="" required="" autofocus="" autocomplete="off">
						</div>
					</div>

					<div class="form-group">
                        <label for="con_describe" class="col-md-4 control-label">Описание</label>
                        <div class="col-md-6">			
                        	<textarea id="con_describe" type="text" class="form-control" name="con_describe" value="" required="" autofocus="" style="max-height: 200px; min-height: 54px; height: 100px;"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="con_keywords" class="col-md-4 control-label">Ключевые слова</label>
                        <div class="col-md-6 con-keywords">
                        	<div class="dropleft">
								<button class="dropdown-toggle btn btn-secondary con-keywords-btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    	 
							  	</button>
							  	<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							  		<a class="dropdown-item" onclick="selectKeyWord(this)" href="#">США</a>
								    <a class="dropdown-item" onclick="selectKeyWord(this)" href="#">Путин</a>
								    <a class="dropdown-item" onclick="selectKeyWord(this)" href="#">Армения</a>
							  	</div>
							</div>
							<div type="text" class="form-control con-keywords-input" readonly>
								
							</div>
                        </div>
                    </div>

					<div class="col-md-6 offset-md-5">
                        <button onclick="createDebate()" type="submit" class="form-btn">Создать дискуссию</button>
                    </div>
				</form>
			</div>

		</div>
	</div>
</body>
</html>