@page
@model Sem.Pages.PeopleModel

@{
    Layout = "Shared/_Layout";
}

<div class="container-fluid">
		<div class="row">

			@foreach (var person in await Model.People.ToListAsync())
			{
			<div class="person-box">
				<div class="person">
					<div class="row">
						<div class="col-md-4 person-left">
							<div class="person-img-box">
								<img class="person-img" src="@ResourcesPaths.GetPersonPhotoPath((string)person.Values["photo"])" alt="">
							</div>
							<h3 class="person-menu">@person.Values["name"]</h3>
							<hr class="person-hr">
							<h6 class="person-menu">Должность: @person.Values["position"]</h6>
							<h6 class="person-menu">Страна: @person.Values["country"]</h6>
							<h6 class="person-menu">Возраст: @person.Values["age"]</h6>
						</div>
						<div class="col-md-8">
							<div class="person-right">
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex quas ad sed corporis enim facilis perferendis quisquam, officiis architecto nesciunt, numquam eaque! Deleniti quaerat reprehenderit esse, aliquam. Temporibus, porro non eveniet accusamus culpa inventore dignissimos ex blanditiis quasi repellendus minus, numquam voluptate at ipsa accusantium. Libero quidem nemo recusandae nostrum. Ducimus natus iusto illum consectetur molestias nostrum sequi veniam quia, molestiae enim facilis nesciunt eum inventore saepe doloribus recusandae, aut architecto, ut obcaecati perferendis itaque illo? Distinctio in itaque suscipit repudiandae ab iusto magni dolorum esse veritatis eos. Rerum, nostrum. Ullam aut, eaque deserunt consectetur? Illum, consectetur ipsum labore doloremque sed molestias sunt nulla laudantium nostrum, quod aliquid fugit perspiciatis laborum commodi, totam. Sit laboriosam maiores officiis sapiente optio, cum reiciendis aliquam distinctio dolor molestias quo eligendi debitis corrupti voluptatem ullam consectetur eius mollitia. Possimus rem esse inventore vel molestias temporibus quia deserunt atque libero ipsum culpa dicta corporis eaque totam maiores at in, optio doloribus, fuga veritatis magnam ut. Laboriosam labore consectetur debitis mollitia aperiam iure accusamus quibusdam iusto magni enim nulla ea facilis doloribus ex, distinctio minus amet temporibus aliquid deserunt. Cupiditate voluptatem dicta vitae quae quidem non reprehenderit molestiae quos? Debitis exercitationem alias qui eos corporis cupiditate excepturi sequi? Quibusdam pariatur est dolorem, optio reprehenderit magni recusandae? A aut, ab laboriosam nulla excepturi nihil dolor et dolore, nisi, repudiandae aperiam perferendis debitis amet sunt error vel. Sunt assumenda, perferendis. Incidunt optio aspernatur pariatur eveniet porro, dolore a doloribus ipsum consectetur ducimus velit voluptatum modi corporis libero rerum laudantium sapiente animi qui nobis distinctio similique soluta. Consectetur quas ad quam repellat earum dolore temporibus rem delectus sunt porro sed molestiae non odio, pariatur minima velit numquam voluptate consequuntur, rerum corporis architecto dolores? Dolorum amet enim maiores ut dolores ratione aliquid non at labore, quibusdam vero itaque, a laborum!
							</div>
						</div>
					</div>
				</div>
			</div>
			}
		</div>
	</div>