@page
@model Sem.Pages.register

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Регистрация</title>
	
	<!-- CSS only -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

	<!-- JS, Popper.js, and jQuery -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script type="text/javascript" src="js/script.js"></script>
</head>
<body>
	<div class="header">
		<div class="header-left">
			<a class="aNotChanged" href="@Url.Page("./index")">
				<h1>Политика <span style="color: #E85A4F">News</span></h1>
			</a>
		</div>

		<div class="header-center">
			<div class="header-menu">
				<a class="header-menu-box" href="@Url.Page("./index")">Новости</a>
				<a class="header-menu-box" href="#">Форум</a>
				<a class="header-menu-box" href="@Url.Page("./debates")">Дебаты</a>
			</div>
			<div class="header-menu-hiden">
				<div class="dropdown">
					<button class="dropdown-toggle search-filter" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span class="fontColor">Меню</span>
				  	</button>
				  	<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					    <a class="dropdown-item" href="@Url.Page("./index")">Новости</a>
					    <a class="dropdown-item" href="#">Форум</a>
					    <a class="dropdown-item" href="@Url.Page("./debates")">Дебаты</a>
				  	</div>
				</div>
			</div>

			<form class="search-box" action="">
				<img class="svg" src="icons/magnifying-glass.svg">
				<input type="search" name="" placeholder="Поиск">
				<div class="dropdown">
					<button class="dropdown-toggle search-filter fontColor" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    	Фильтры
				  	</button>
				  	<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				  		<h6 class="dropdown-header">Популярные</h6>
					    <a class="dropdown-item" href="#">США</a>
					    <a class="dropdown-item" href="#">Путин</a>
					    <a class="dropdown-item" href="#">Армения</a>
				  	</div>
				</div>
			</form>
		</div>

		<div class="header-right">
			<!-- <div class="reg-online">Личный кабинет</div> -->
			<div class="reg-offline"><a href="@Url.Page("./login")">Вход</a> | <a href="@Url.Page("./register")">Регистрация</a></div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row">

			<div class="col-md-6 offset-md-3 log-box">
				<h2 class="log-title">Регистрация</h2>
				<div class="outstanding"></div>

				<form class="form-horizontal" method="GET" action="qwerty">
					<div class="form-group">
						<label for="email" class="col-md-4 control-label">E-Mail</label>
						<div class="col-md-6">						
							<input id="email" type="email" class="form-control" name="email" value="" required="" autofocus="">

						</div>
					</div>

					<div class="form-group">
                        <label for="nickname" class="col-md-4 control-label">Никнейм</label>
                        <div class="col-md-6">						
                            <input id="nickname" type="text" class="form-control" name="nickname" value="" required="" autofocus="">
                        </div>
                    </div>

					<div class="form-group">
                        <label for="password" class="col-md-4 control-label">Пароль</label>
                        <div class="col-md-6">							
                            <input id="password" type="password" class="form-control" name="password" required="">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="password-confirm" class="col-md-4 control-label">Еще раз пароль</label>
                        <div class="col-md-6">
                            <input id="password-confirm" type="password" class="form-control" name="password_confirmation" required="">
                        </div>
                    </div>

					<div class="col-md-6 offset-md-5">
                        <button type="submit" class="form-btn">Далее</button>
                    </div>
				</form>
			</div>


			<div class="col-md-3">
				<div class="log-menu">
					<a href="@Url.Page("./login")" rel="noindex, nofollow">Войти</a>
					<a href="@Url.Page("./register")" class="log-menu-active" rel="noindex, nofollow">Регистрация</a>
				</div>
			</div>

		</div>
	</div>
</body>
</html>